#content{
    text-align: center;
    justify-content: center;
    padding:16px;
    
}
body{
  background-color:#f5f0f0;
}
table{
  margin-left:auto;
  margin-right:auto;
  width:50%;
  text-align: center;

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
button {
  background-color: #002E6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
button:hover {
  opacity:1;
}
