#success{
    text-align:center;
}
article{
    text-align: center;;
}
body{
    padding:16px;
}

body {font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(219,0,50,0.35);
}
* {box-sizing: border-box}
