.grid-container {

grid-template-columns: auto auto auto;
background-color: #2196F3;
padding: 10px;
padding-left:23%;

}
.row1,.row2,.row3,.row4,.row5,
.row6,.row7,.row8,.row9,.row10,
.row11,.row12,.row13,.row15,.row15
{  background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding:5px;
font-size: 30px;
height: 25px;
width:25px;
text-align: center;
}

#col1,#col2,#col3,#col4,#col5,#col6,#col7,#col8,#col9,#col10,#col11,#col12,#col13,#col14,#col15{
display : inline-block;
}
#gameInfo{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    align-items:center;
}
#currentPlayer{
    float:right;
}
.P1 div:hover{
    background-color:black;
}
.P2 div:hover{
    background-color:red;
}
.p1Clicked{
    background-color: black;
}
.p2Clicked{
    background-color: red;
}